
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 263 100% 95%;
    --foreground: 276 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 276 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 276 25% 15%;
    --primary: 276 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263 100% 92%;
    --secondary-foreground: 276 25% 25%;
    --muted: 263 100% 97%;
    --muted-foreground: 276 10% 50%;
    --accent: 216 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 50% 90%;
    --input: 263 50% 92%;
    --ring: 276 100% 50%;
    --chart-1: 276 100% 50%;
    --chart-2: 216 100% 50%;
    --chart-3: 300 80% 55%;
    --chart-4: 250 74% 66%;
    --chart-5: 330 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 276 25% 15%;
    --sidebar-primary: 276 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 263 100% 95%;
    --sidebar-accent-foreground: 276 100% 50%;
    --sidebar-border: 263 50% 90%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 276 20% 10%;
    --foreground: 263 100% 95%;
    --card: 276 20% 12%;
    --card-foreground: 263 100% 95%;
    --popover: 276 20% 10%;
    --popover-foreground: 263 100% 95%;
    --primary: 276 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 276 20% 20%;
    --secondary-foreground: 263 100% 95%;
    --muted: 276 20% 15%;
    --muted-foreground: 263 100% 80%;
    --accent: 216 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 20% 25%;
    --input: 276 20% 25%;
    --ring: 276 100% 60%;
    --chart-1: 276 100% 60%;
    --chart-2: 216 100% 60%;
    --chart-3: 300 80% 65%;
    --chart-4: 250 74% 76%;
    --chart-5: 330 87% 77%;

    --sidebar-background: 276 20% 12%;
    --sidebar-foreground: 263 100% 95%;
    --sidebar-primary: 276 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 276 20% 18%;
    --sidebar-accent-foreground: 276 100% 60%;
    --sidebar-border: 276 20% 25%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
